
.container{
  width: 50%;
  border: 0px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  background: linear-gradient(180deg, rgba(255,248,248,1) 0%, rgba(98,98,98,1) 100%);
  box-shadow: 3px 5px 14px 5px #000000;
  margin: auto;

  
}
.containerAux{
  background: url('../../Assets/baseLogin.jpg');
  border-radius: 10px;
}